* { margin: 0; padding: 0; border: 0; outline: 0; /*font-weight: inherit; font-style: inherit;*/ font-size: 100%; vertical-align: baseline;}

/* remember to define focus styles! */
:focus { outline: 0;}

body { line-height: 1; color: #fff; background: #000; font: 16px arial, helvetica, sans-serif; text-align: center;}

ol, ul { list-style: none;}

p { line-height: 1.5em; padding-bottom: 1em;}

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal;}

blockquote:before, blockquote:after, q:before, q:after { content: "";}
blockquote, q { quotes: "" "";}